# Netlify POSTGRES Connection settings
# Copia esto de tu panel de Netlify -> Site settings -> Environment variables
DATABASE_URL=postgresql://neondb_owner:PASSWORD@ep-misty-thunder-aefhtra8.c-2.us-east-2.aws.neon.tech/papeleriadb?sslmode=require&channel_binding=require
